In [11]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

# Problem 2: Clustering senators

In this problem, you will use the voting history from the 114th Congress to split Senators into clusters.

In [3]:
url = 'https://raw.githubusercontent.com/um-perez-alvaro/Data-Science-Practice/master/Data/114_congress.csv'
data = pd.read_csv(url)
data.head()

,name,party,state,00001,00004,00005,00006,00007,00008,00009,00010,00020,00026,00032,00038,00039,00044,00047
0,Alexander,R,TN,0.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
1,Ayotte,R,NH,0.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
2,Baldwin,D,WI,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,1.0
3,Barrasso,R,WY,0.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0
4,Bennet,D,CO,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0

The data contains all the votes from the 114th Senate.
Each row contains the votes of an individual senator. 
Votes are coded as 0 for “No”, 1 for “Yes”, and 0.5 for “Abstain”.

In [6]:
# feature matrix X
X = data.drop(['name','party','state'],axis=1)

**Part 1:** Use `AgglomerativeClustering` (with ward linkage) to split the senators into two clusters.
Do the two clusters correspond to the two parties?

**Part 2:** Find the senators that are in the cluster associated with the opposite party

**Part 3:** More clusters could show wings of each party, or cross-party groups.
Use AgglomerativeClustering (with ward linkage) to split the senators into 5 clusters, and analyze the two democratic factions

**Part 4:** Plot the hierarchical clustering dendrogram