In [1]:
import pandas as pd

# Practice problem V

In [2]:
# load the Chipotle dataset
url = 'https://raw.githubusercontent.com/um-perez-alvaro/Data-Science-Practice/master/Data/chipotleorders.csv'
chipo = pd.read_csv(url)
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

Turn the item price into a float.

In [4]:
chipo['item_price'] = chipo['item_price'].str.replace('$','')
chipo['item_price'] = chipo['item_price'].astype(float)

/tmp/ipykernel_104749/4117676919.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  chipo['item_price'] = chipo['item_price'].str.replace('$','')

Sort the dataframe by the name of the item

In [6]:
chipo.sort_values(by='item_name',ascending=True).head(5)

      order_id  quantity          item_name choice_description  item_price
3389      1360         2  6 Pack Soft Drink        [Diet Coke]       12.98
341        148         1  6 Pack Soft Drink        [Diet Coke]        6.49
1849       749         1  6 Pack Soft Drink             [Coke]        6.49
1860       754         1  6 Pack Soft Drink        [Diet Coke]        6.49
2713      1076         1  6 Pack Soft Drink             [Coke]        6.49

What was the most expensive item ordered.

In [14]:
chipo.sort_values(by='item_price',ascending=False).head(5)

,order_id,quantity,item_name,choice_description,item_price
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,44.25
3480,1398,3,Carnitas Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",35.25
1254,511,4,Chicken Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",35.00
3602,1443,4,Chicken Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",35.00
3601,1443,3,Veggie Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",33.75

In [12]:
chipo.groupby('order_id').sum().sort_values(by='item_price',ascending=False).head(2)

          quantity  item_price
order_id
926             23      205.25
1443            35      160.74

How many times was a Veggie Salad Bowl ordered?

In [19]:
chipo.groupby('item_name').sum().sort_values(by='quantity',ascending=False).loc['Veggie Salad Bowl', 'quantity']
# the line above groups by item name, sums the values, sorts by quantity, and locates the quantity of Veggie Salad Bowl using loc

18

How many times did someone order more than one Canned Soda?

In [34]:
chipo[(chipo.item_name == 'Canned Soda') & (chipo.quantity > 1)].shape[0]
# the line above filters the dataframe by item name and quantity, and then counts the number of rows

(20, 5)