In [ ]:
# import the required libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
# import libraries for prediction on a numerical dataset
# from sklearn.ensemble import RandomForestClassifier
# from sklearn.metrics import mean_squared_error
# from sklearn.model_selection import train_test_split
# from sklearn.metrics import accuracy_score, confusion_matrix, classification_report, roc_auc_score

#### Basic Operations

In [ ]:
# create a dataframe of movies data
movies = pd.read_csv('../../Data-Science-Practice/Data/movies.csv')

In [ ]:
movies.columns

In [ ]:
movies.values # returns a numpy array of data

In [ ]:
movies.sample(5) # returns a random sample of 5 rows

In [ ]:
movies.shape # returns number of rows and columns

In [ ]:
# plot the top 10 movies by facebook likes
movies.sort_values(by='gross', ascending=False).head(10).plot(x='movie title', y='gross', kind='barh', figsize=(10, 5))

In [ ]:
movies.columns

#### Setting and resetting the index

In [ ]:
movies.index

In [ ]:
movies.columns

In [ ]:
movies.set_index('movie title', inplace=True)
# inplace = True means that the changes are made to the dataframe itself (False means that the changes are made to a copy of the dataframe)

In [ ]:
movies.set_index?
# the ? at the end of a function or method will return the docstring of that function or method

In [ ]:
# reset the index to the default index (integer index)
# drop=True means that the old index will be dropped and not added as a new column (default false)
movies.reset_index(inplace=True, drop=False) 
movies

#### Renaming Columns

In [ ]:
movies.columns

In [ ]:
# dict with new column names to replace names with spaces
col_name_dict = {
    'movie title': 'movie_title',
    'director name': 'director_name'
}
movies.rename(columns=col_name_dict, inplace=True)

In [ ]:
# replaces spaces in column names with underscores (fast method)
movies.columns = movies.columns.str.replace(' ', '_')

#### Dropping columns and/or rows

In [ ]:
# remove the 'director_name' column
movies.drop(['director_name', 'color'], axis=1, inplace=True) # axis=1 means that we are dropping a column (default 0 for rows)

In [ ]:
# remove rows 0, 5, 10
movies.drop([0, 5, 10], axis=0, inplace=True) # axis=0 means that we are dropping a row (default 0 for rows)

#### Selecting rows and columns

In [ ]:
# reload data
movies = pd.read_csv('../../Data/movies.csv', index_col='movie title')

In [ ]:
# select Avatar, The Avengers, and Titanic, and all columns
movies.loc[['Avatar', 'The Avengers', 'Titanic'],:] # : means all columns (like an array slice)

In [ ]:
# select movies Spectre through Harry Potter and the Half-Blood Prince, and all columns
movies.loc['Spectre':'Harry Potter and the Half-Blood Prince',:]

In [ ]:
# select all the rows, columns 'color, 'director_name', and 'duration'
movies.loc[:, ['color', 'director name', 'duration']]

In [ ]:
# select all the rows, columns 'movie title' through 'budget'
movies.loc[:, 'duration':'budget']

<p>Now for iloc (uses integers rather than col/row names)</p>

In [ ]:
# seelct all rows, columns 0,3,5
movies.iloc[:, [0, 3, 5]]

In [ ]:
# select all rows, columns from 2 to 7 
movies.iloc[:, 2:7] # (selects 2,3,4,5,6 (not 7))

In [ ]:
# select all rows, columns 2,4,6,8,10
movies.iloc[:, 2:11:2] # (selects 2,4,6,8,10)

In [ ]:
# select all columns, last row
movies.iloc[-1, :] # starts from the end and goes backwards (last row)

In [ ]:
# select last 10 rows, all columns
movies.iloc[-10:, :] # starts from the end and goes backwards (last 10 rows) (increments by +1, so goes to the last row)
# just uset the tail(10) method instead

In [ ]:
# reverse order of rows "trick"
movies.iloc[::-1, :] # first : means all rows, second : means all columns (increments by -1, so goes to the first row, steps backwards through the rows)

<p>Missing Values</p>

In [ ]:
movies

In [ ]:
movies.isna() # returns a boolean dataframe of True/False values for each cell (True if the value is NaN, False if not NaN)

In [ ]:
movies.notna() # returns a boolean dataframe of True/False values for each cell (True if the value is not NaN, False if NaN)

In [ ]:
movies.isna().sum() # returns the sum of the True values for each column (sums the number of NaN values in each column) F=0, T=1

<p>Dropping rows / cols with missing values</p>

In [ ]:
# EXAMPLE 1: If 'all' values are missing from a row, then drop that row
movies.dropna(how='all', axis=0) # how='all' means that if all values in a row are NaN, then drop that row

In [ ]:
# EXAMPLE 2: If 'any' values are missing from a row, then drop that row
movies.dropna(how='any', axis=0) # how='any' means that if any values in a row are NaN, then drop that row

In [ ]:
# EXAMPLE 3: If 'any' values are missing in a row (considering only the columns director name and country), then drop that row
movies.dropna(how='any', axis=0, subset=['director name', 'country'])# how='any' means that if any values in a row are NaN, then drop that row, subset=['director_name', 'country'] means that we are only considering the columns director_name and country

In [ ]:
# EXAMPLE 4 COLUMN: if any values are missing in a column, then drop that column
movies.dropna(how='any', axis=1) # how='any' means that if any values in a column are NaN, then drop that column

In [41]:
# EXAMPLE 5 (advanced): drop a column, but only if more than 15% of the values in that column are missing
movies.dropna(axis=1, thresh=len(movies)*0.85) # how='any' means that if any values in a column are NaN, then drop that column, thresh=len(movies)*0.85 means that the number of NaN values in a column must be greater than 15% of the total number of rows in the dataframe in order for that column to be dropped

,color,director name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,genres,actor_1_name,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,Action|Adventure|Fantasy,Johnny Depp,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,Action|Adventure|Thriller,Christoph Waltz,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,Action|Thriller,Tom Hardy,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,Documentary,Doug Walker,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4911,Color,Scott Smith,1.0,87.0,2.0,318.0,Daphne Zuniga,637.0,Comedy|Drama,Eric Mabius,...,6.0,English,Canada,NaN,NaN,2013.0,470.0,7.7,NaN,84
4912,Color,unknown,43.0,43.0,NaN,319.0,Valorie Curry,841.0,Crime|Drama|Mystery|Thriller,Natalie Zea,...,359.0,English,USA,TV-14,NaN,NaN,593.0,7.5,16.00,32000
4913,Color,Benjamin Roberds,13.0,76.0,0.0,0.0,Maxwell Moody,0.0,Drama|Horror|Thriller,Eva Boehnke,...,3.0,English,USA,NaN,1400.0,2013.0,0.0,6.3,NaN,16
4914,Color,Daniel Hsia,14.0,100.0,0.0,489.0,Daniel Henney,946.0,Comedy|Drama|Romance,Alan Ruck,...,9.0,English,USA,PG-13,NaN,2012.0,719.0,6.3,2.35,660
4915,Color,Jon Gunn,43.0,90.0,16.0,16.0,Brian Herzlinger,86.0,Documentary,John August,...,84.0,English,USA,PG,1100.0,2004.0,23.0,6.6,1.85,456

In [ ]:
missing_data_cols = 100*movies.isna().sum()/len(movies) >=15 # returns the percentage of NaN values in each column

In [ ]:
movies.loc[:, ~missing_data_cols] # returns all rows, and only the columns that have more than 15% NaN values, tilde (~) means NOT (swaps falses and trues)

In [32]:
cols_to_keep = 100*movies.isna().sum()/len(movies) < 15 # creates a boolean series of columns that have less than 15% NaN values
cols_to_keep

Filling in missing values

In [34]:
movies['director name'].isna().sum() # returns the number of NaN values in the director name column

102

In [39]:
# fill in missing values with a specified value
movies['director name'].fillna(value='unknown', inplace=True) # fill in missing values in the director name column with the value 'unknown'
movies['director name'].isna().sum() # returns the number of NaN values in the director name column

0