In [ ]:
import pandas as pd

In [ ]:
movies = pd.read_csv('../../Data-Science-Practice/Data/imdb_1000.csv')

In [ ]:
movies

In [ ]:
# data types
movies.dtypes

## Exploring Non-Numeric columns

In [ ]:
movies.content_rating.describe()

In [ ]:
movies.content_rating.value_counts()#.plot(kind='bar')

In [ ]:
movies.content_rating.value_counts(normalize=True) # normalize=True gives percentages

In [ ]:
movies.content_rating.value_counts().head(3) # chain functions together

In [ ]:
movies.content_rating.value_counts().head(5).plot(kind='bar', title='Top 5 Movie Ratings')

In [ ]:
# explore multiple columns at once
movies[['content_rating', 'genre']].describe()

## Exploring numeric columns

In [ ]:
# sort by duration
movies.sort_values(by='duration')

In [ ]:
# mean movie duration
movies.duration.mean()

In [ ]:
# max and min
print(movies.duration.max())
movies.duration.min()

In [ ]:
# standard deviation
movies.duration.std()

In [ ]:
# calculate multiple statistics at once
movies.duration.agg(['min', 'max', 'mean'])

In [ ]:
# WRITE A CUSTOM FUNCTION FOR AGG
# example: a function that calculates the diference between the max and min values
def min_max_gap(col):
    return col.max() - col.min()

In [ ]:
movies[['duration', 'star_rating']].agg(['min', 'max', min_max_gap])

In [ ]:
movies[['duration', 'star_rating']].describe()

## Working with dates and times

In [ ]:
ufos = pd.read_csv('../../Data-Science-Practice/Data/ufo.csv')

In [ ]:
ufos.Time[0] # this is a python string

In [ ]:
# make it a datetime object
ufos['Time'] = pd.to_datetime(ufos.Time)

In [ ]:
# all ufos.time.dt methods
dir(ufos.Time.dt)

#### Trick 1: filter by date (more on filtering later)

In [ ]:
ts = pd.to_datetime('1/1/1999')
ufos.Time > ts # this is a boolean series
ufos.loc[ufos.Time >= ts] # use the boolean series to filter rows

#### Trick 2: perform math operations with dates

In [ ]:
# latest date
ufos.Time.max()

In [ ]:
# time range
time_range = ufos.Time.max() - ufos.Time.min()

##### Extra: plot the number of ufos reported by year

In [ ]:
# use year value counts and sort the index (year becomes the index)
ufos.Time.dt.year.value_counts().sort_index().plot()

## Working with Strings

In [ ]:
# load chipotle orders
chipo_orders = pd.read_csv('../../Data-Science-Practice/Data/chipotleorders.csv')

In [ ]:
chipo_orders

#### working with strings in Python

In [ ]:
'hello'.upper()

In [ ]:
'HELLO'.lower()

In [ ]:
'this is a string, not a list'.split(',')

In [ ]:
'Hello, my name is Jake'.replace('Jake', 'Sbeve')

#### Strings in Pandas

In [ ]:
dir(chipo_orders.item_name.str) # all pandas string methods

In [ ]:
chipo_orders.item_name.str.upper()

In [90]:
chipo_orders.item_name.str.contains('Chicken')

0       False
1       False
2       False
3       False
4        True
        ...
4617    False
4618    False
4619     True
4620     True
4621     True
Name: item_name, Length: 4622, dtype: bool

In [91]:
chipo_orders.loc[chipo_orders.item_name.str.contains('Chicken')]

,order_id,quantity,item_name,choice_description,item_price
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
11,6,1,Chicken Crispy Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75
12,6,1,Chicken Soft Tacos,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",$8.75
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25
...,...,...,...,...,...
4604,1828,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$8.75
4615,1832,1,Chicken Soft Tacos,"[Fresh Tomato Salsa, [Rice, Cheese, Sour Cream]]",$8.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75