In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Problem 3: New York City energy production

In [2]:
# load data
url = 'https://raw.githubusercontent.com/um-perez-alvaro/Data-Science-Practice/master/Data/nyc_load.csv'
nyc = pd.read_csv(url,index_col='DATE',parse_dates=True)
nyc.head()

            temperature         load
DATE
2019-01-01           51  1743.769550
2019-01-02           38  1970.869388
2019-01-03           41  1968.927778
2019-01-04           39  1909.855172
2019-01-05           44  1805.748276

**Column descriptions:**

| column | description |
| :-- | --: |
| temperature | average temperature (in degrees Fahrenheit) |
| load | average electricity produced (in Watts) in NYC central zone (see the picture below) |

**New York City zones:**

![zones](nyc_zones.png)

**Part 1:** Plot energy produced (`load` column) against average daily temperature (`temperature` column)

In [ ]:
# your code here

**Part 2:** Build a pipeline with the following steps: scaler + polynomial features (degree=2) + linear regression model

In [ ]:
# your code here

**Part 3:** Fit the pipeline to the data.

In [ ]:
# your code here

Plot the data and the regression model.

In [ ]:
# your code here

**Part 4:** Set the polynomial features degree to 100.

In [ ]:
# your code here

Fit the pipeline to the model.

In [ ]:
# your code here

Plot the data and the regression model

In [ ]:
# your code here

**Part 5:** Split the data into training and testing sets

In [ ]:
# your code here

**Part 6:** Plot the regression model root mean squared error on the training and testing sets as a function of the polynomial features degree.

In [ ]:
# your code here