In [1]:
import pandas as pd

# Practice problem IV

In [2]:
# load the occupation dataset
url = 'https://raw.githubusercontent.com/um-perez-alvaro/Data-Science-Practice/master/Data/users.csv'
users = pd.read_csv(url, index_col='user_id')

Display the first 10 entries of the dataset

In [3]:
users.head()

         age gender  occupation zip_code
user_id
1         24      M  technician    85711
2         53      F       other    94043
3         23      M      writer    32067
4         24      M  technician    43537
5         33      F       other    15213

What is the number of observations (rows) in the dataset?

In [4]:
users.shape[0]

943

Print the name of all the columns

In [5]:
users.columns

Index(['age', 'gender', 'occupation', 'zip_code'], dtype='object')

What is the data type of each column?

In [6]:
users.dtypes

age            int64
gender        object
occupation    object
zip_code      object
dtype: object

How many different occupations are in this dataset?

In [11]:
len(users.occupation.unique())

21

In [10]:
# alternatively, use the nunique method
users.occupation.nunique()

21

What is the most frequent occupation?

In [12]:
# student
users.occupation.value_counts()

student          196
other            105
educator          95
administrator     79
engineer          67
programmer        66
librarian         51
writer            45
executive         32
scientist         31
artist            28
technician        27
marketing         26
entertainment     18
healthcare        16
retired           14
salesman          12
lawyer            12
none               9
doctor             7
homemaker          7
Name: occupation, dtype: int64

Use the `.describe` method to summarize the 'age' column (mean value, max value, min value, etc)

In [13]:
users.age.describe()

count    943.000000
mean      34.051962
std       12.192740
min        7.000000
25%       25.000000
50%       31.000000
75%       43.000000
max       73.000000
Name: age, dtype: float64

Use the `.describe` method to summarize all the non-numeric columns (unique values, most common value, etc).

In [16]:
users[['gender','occupation']].describe()

       gender occupation
count     943        943
unique      2         21
top         M    student
freq      670        196

What is the mean age of users?

In [17]:
users.age.mean()

34.05196182396607

 What is the least frequent age?

In [19]:
# 7, 66, 73, 10 and 11
users.age.value_counts().tail(10)

58    3
64    2
68    2
69    2
62    2
11    1
10    1
73    1
66    1
7     1
Name: age, dtype: int64